.HomePage {
	background-color: #f4f4f4;

	.retro-effect {
		position: relative;
		overflow: hidden;
	  }
	  
	  .retro-effect::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../assets/img/filter.jpg') repeat;
		opacity: 0.1;
		pointer-events: none;
		z-index: 3;
	  }
	  
	  .retro-effect * {
		position: relative;
		z-index: 2;
	  }
	  
	.greeting {
		position: relative;
		text-align: center;
		color: #fff;
	
		.greating_img {
			position: relative;
			padding-top: 100px;
			padding-bottom: 570px;
	
			.video-background {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
	
			h2, p {
				position: relative;
				z-index: 1;
			}
		}
	}
	

	.about {
		display: flex;
		gap: 20px;
		background-color: #254E58;
		

		.img {
			width: 50%;
			height: 300px;
			background-color: #ccc;
			background-image: url(../assets/img/img_2.png);
			background-size: cover;
			background-position: center;
		}

		.info {
			width: 50%;
			h2 {
				font-size: 28px;
				color: #333;
				margin-bottom: 10px;
			}

			p {
				margin: 25px;
				font-size: 16px;
				color: #666;
				margin-bottom: 20px;
			}

			ul {
				list-style: none;
				padding: 0;
				display: flex;
				gap: 75px;
				margin-left: 20px;

				li {
					display: flex;
					align-items: center;
					margin-bottom: 10px;

					img {
						width: 20px;
						height: 20px;
						margin-right: 10px;
					}

					span {
						font-size: 16px;
						color: #333;
					}
				}
			}
		}
	}

	.reviews {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		overflow-x: auto;
		background-color: #4F4A41;
	}

	.window_line {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		gap: 10px;
		margin-left: 30px;
	}

	.buy_car {
		text-align: center;

		p {
			font-size: 20px;
			color: #333;
		}

		.button_buy {
			background-color: #ff5c5c;
			color: white;
			border: none;
			padding: 10px 20px;
			font-size: 16px;
			cursor: pointer;
			display: inline-flex;
			align-items: center;

			img {
				margin-left: 10px;
				width: 16px;
				height: 16px;
			}

			&:hover {
				background-color: #ff3a3a;
			}
		}
	}

	.blog {
		text-align: center;
		background-color: #254E58;

		.news_line {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			gap: 10px;
			margin-left: 30px;
		}

		button {
			background-color: #ff5c5c;
			color: white;
			border: none;
			padding: 10px 20px;
			font-size: 16px;
			cursor: pointer;
			display: inline-flex;
			align-items: center;

			img {
				margin-left: 10px;
				width: 16px;
				height: 16px;
			}

			&:hover {
				background-color: #ff3a3a;
			}
		}
	}
}
